.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: max-height 0.4s ease, padding 0.4s ease, border-color 0.4s ease;
}

.faq-answer.show {
    padding: 15px;
    border-color: black;
}

.faq-question {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.arrow {
    transition: transform 0.4s ease;
}

.arrow.rotate {
    transform: rotate(180deg);
}